<form action="/sign-up" method="post">
    <input type="text" name="userName" id="user">
    <input type="password" name="password" id="pass">
    <input type="email" name="email" id="email">
</form>
{{!-- 
"userName" : {
        "type": String,
        "unique": true
    },
    "password": String,
    "email": String,
    "discount": Number --}}