<section class="bg-gray-50">
    <div class="flex flex-col items-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        {{#if error}}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mt-2" role="alert">
            <strong class="font-bold">Error: </strong>
            <span class="block sm:inline">{{error}}</span>
        </div>
        {{/if}}
        <div class="w-full bg-white rounded-lg shadow mt-2 sm:max-w-md xl:p-0 bg-slate-300">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                    Create an account
                </h1>
                <form class="space-y-4 md:space-y-6" action="/register" method="post">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your Username</label>
                        <input type="username" name="userName" id="username" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="username" required="">
                    </div>
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email</label>
                        <input type="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="name@company.com" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div>
                        <label for="password2" class="block mb-2 text-sm font-medium text-gray-900">Confirm password</label>
                        <input type="password" name="password2" id="password2" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" required="">
                    </div>
                    <div class="flex items-start">
                        <div class="flex items-center h-5">
                        <input id="terms" aria-describedby="terms" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300" required="">
                        </div>
                        <div class="ml-3 text-sm">
                        <label for="terms">I accept the </label>
                        <a class="font-medium text-primary-600 hover:underline" data-modal-target="defaultModal" data-modal-toggle="defaultModal">Terms and Conditions</a>
                        </div>
                    </div>
                    <button type="submit" class="text-white w-full bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Create an account</button>
                    <p>
                        Already have an account? <a href="#" class="font-medium text-primary-600 hover:underline">Login here</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Tn -->
<div id="defaultModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden p-4 overflow-x-hidden md:inset-0 h-[calc(100%-15rem)] mt-[7rem] max-h-full absolute">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow bg-slate-300">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t">
                <h3 class="text-xl font-semibold text-gray-900">
                    Terms and Conditions
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center " data-modal-hide="defaultModal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6 bg-slate-200">
                <h4>THE FOLLOWING STANDARD TERMS AND CONDITIONS CONTAIN VERY IMPORTANT INFORMATION ABOUT YOUR RIGHTS AND OBLIGATIONS, AS WELL AS LIMITATIONS AND EXCLUSIONS, APPLICABLE TO ALL MIRCOM PRODUCTS (INCLUDING SOFTWARE). PLEASE READ CAREFULLY.</h4>
                <p></p>
                <h4>ARTICLE 1 – DEFINITIONS</h4>
                <p></p>
                <p>1.1. In this document,</p>
                <p style="padding-left: 40px;">(a) “Administrative Charges” means charges additional to the Price, including without limitation the charges relating to delivery, disbursements, taxes, duties, sales, excise, use, value added or other taxes, and out of pocket expenses incurred by Mircom;&nbsp;</p>
                <p style="padding-left: 40px;">(b) “CAD” means Canadian Dollars;&nbsp;</p>
                <p style="padding-left: 40px;">(c) “Customer” means the person that submits a Purchase Order to Mircom for the purchase of any Product listed in the Price List or Quote;&nbsp;</p>
                <p style="padding-left: 40px;">(d) “Mircom” means the Mircom contracting party, as defined in section 13.4;&nbsp;</p>
                <p style="padding-left: 40px;">(e) “Order Acknowledgement” means Mircom’s written communication to Customer that a Purchase Order is accepted, was entered and will be processed by Mircom, setting out any supplements, corrections or updates to any of the specifications outlined in the Purchase Order;&nbsp;</p>
                <p style="padding-left: 40px;">(f) “Price” means the price for Products as verified in the Order Acknowledgement, irrespective of discrepancy with the Purchase Order or price listed in the Price List or Quote;&nbsp;</p>
                <p style="padding-left: 40px;">(g) “Price List” means the official Mircom price book and product information publication, which typically contains Product model numbers, description, depiction, and list price, which (a) shall expire upon the earlier of Mircom’s revocation of the Price List or release of a successive Price List; (b) supercedes any listed price, terms, conditions or other representations regarding the Products in any prior publications, quotes or otherwise, except only as specifically provided in a Quote; and (c) may, at any time at Mircom’s discretion and without notice to Customer, be published, amended, replaced or revoked in whole or in part;&nbsp;</p>
                <p style="padding-left: 40px;">(h) “Product” or “Products” means each individual item being purchased, as described in the Price List or Quote, as applicable, identified with a model number, including software components of such products or stand-alone software or software licenses, as may be applicable in the context;&nbsp;</p>
                <p style="padding-left: 40px;">(i) “Purchase Order” means a written purchase order submitted through Mircom’s web portal or by email or fax, in each case on a properly completed official Mircom purchase order form identifying the Product, quantity, price as listed in a valid Price List or Quote, as applicable, requested delivery date, proper delivery information containing all necessary information for shipping and other relevant information for Mircom’s assessment of the order;&nbsp;</p>
                <p style="padding-left: 40px;">(j) “Quote” mean an official Mircom quote, issued by Mircom personnel that is expressly authorized by Mircom to issue such a quote in the specific circumstances to the Customer, which(a) may for convenience contain Product names or model numbers, (b) shall expire thirty (30) days from the date of its issuance, unless otherwise expressly provided on the Quote, (c) shall in no way amend any information about the Product or these Terms and Conditions, and (d) at Mircom’s discretion and on notice to Customer, may be amended or revoked at any time before the Customer’s delivery of a Purchase Order based on such Quote; and</p>
                <p style="padding-left: 40px;">(k) “USD” means United States Dollars.</p>
                <p></p>
                <h4>ARTICLE 2 – SCOPE AND APPLICATION</h4>
                <p></p>
                <p>2.1. Application. The purchase and sale of all Products are expressly conditioned upon the within terms and conditions (the “Terms and Conditions”).</p>
                <p></p>
                <p>2.2. Deemed Assent. Customer will be deemed to have assented to these Terms and Conditions if it accepts any part of Products or if it holds itself out as acting in the capacity of an authorized distributor of Mircom products.</p>
                <p></p>
                <p>2.3. Terms and Condition Updates. Mircom reserves the right to release and replace the within Terms and Conditions at any time without notice to Customer.</p>
                <p></p>
                <p>2.4. No Modifications. No amendment, waiver or cancellation of any of these Terms and Conditions is binding upon Mircom unless in accordance with the express terms hereof or otherwise confirmed by Mircom in writing signed by an authorized representative of Mircom. Any additional terms or conditions contained in any document, including without limitation Customer order document or other correspondence, shall be deemed objected to by Mircom and of no force or effect. No employee or agent of Mircom has any right to make any representations, warranty or promise in relation to the Products, Price, warranties or otherwise relating to the sale of the Products other than as contained in these Terms and Conditions.</p>
                <p></p>
                <h4>ARTICLE 3 – PAYMENT TERMS</h4>
                <p></p>
                <p>3.1. Currency. Prices and payments pertaining to orders destined for an address in Canada shall be in CAD and for all other orders in USD.</p>
                <p></p>
                <p>3.2. Administrative Charges. Administrative Charges shall be the responsibility of and payable by the Customer in accordance with these Terms and Conditions. Mircom shall have the right to include the Administrative Charges in the same invoice as all other amounts that are payable or issue subsequent or separate invoices for all or part of the Administrative Charges, at its discretion.</p>
                <p></p>
                <p>3.3. Payment Terms. Invoices are payable without deduction or discount in accordance with the following payment terms, as applicable:(a) for orders that are destined for an address in Canada or the United States: within thirty (30) days from the date of the invoice; or(b) for all other orders: at the time of placing the order, by Mircom’s choice of an irrevocable letter of credit at sight or bank draft.</p>
                <p></p>
                <p>3.4. Late Payments. Interest at the lesser rate of two (2) percent per month or the highest rate permitted by applicable laws shall be due and payable on overdue amounts from due date for the payment until payment of all principal and owing interest is received by Mircom.</p>
                <p></p>
                <p>3.5. Non-Exclusive Remedies. In the event of Customer’s breach of an obligation to Mircom, contractual or otherwise including as it relates to payment of Mircom’s invoices, Mircom may take<br>any recourse or pursue any remedy available to it by contract, at law or in equity, concurrently or otherwise. Without limiting the generality of the foregoing, in the event that (a) outstanding amounts are owing to Mircom by Customer or (b) Mircom perceives, in its sole opinion, that the Customer’s financial condition, creditworthiness or conduct so warrants, Mircom reserves the right to require advanced payment for all future sales to the Customer, suspend delivery of Products or otherwise alter or suspend any credit extended to Customer or its affiliates. Customer shall reimburse Mircom for cost and expenses, including without limitation, legal or collection fees incurred by Mircom in connection with Mircom’s pursuit of recourses or remedies against the Customer.</p>
                <p></p>
                <h4>ARTICLE 4 – ORDERS</h4>
                <p></p>
                <p>4.1. Initiating an Order. To initiate an order, Customer shall submit a Purchase Order to Mircom. Mircom shall have no obligation to assess orders placed by any other means, including verbally communicated orders.</p>
                <p></p>
                <p>4.2. Order Acknowledgement without Written Purchase Order. While Mircom has no obligation to assess or process an order that is placed without a Purchase Order, Mircom may at its sole and unfettered discretion elect from time to time to issue Order Acknowledgements for orders placed without a Purchase Order. No one or more repeated events of Mircom’s acknowledgement or rejection of an order placed without a Purchase Order shall create an implied obligation for Mircom to process or right for Customer to place orders without a Purchase Order at any other time.</p>
                <p></p>
                <p>4.3. Order Acknowledgement. Mircom will endeavour to assess the Purchase Order as soon as practicable upon receipt and, at its sole discretion, reject the order or, in case of accepted orders that will be entered and processed, deliver an Order Acknowledgement to Customer. An order shall be deemed to have been placed only once an Order Acknowledgement is issued to Customer by Mircom. The specifications of an order as identified in the Order Acknowledgement shall supercede those set out in the Purchase Order and shall be binding upon Customer, including quantities, Price, and Product specifications. No modification shall be made to the specifications set out in the Order Acknowledgement except as otherwise expressly authorized in these Terms and Conditions. For clarity, at all times Mircom reserves the right to reject an order at its sole discretion.</p>
                <p></p>
                <p>4.4. Minimum Orders. Minimum orders required for each Purchase Order are two hundred and fifty dollars ($250), in case of orders destined for an address in Canada in CAD and in case of all other orders in USD. Any order that does not meet these minimum order requirements may be, at Mircom’s sole discretion and choice, (a) rejected, (b) accepted, (c) priced at higher rates than the applicable Price List or Quote, as applicable or (d) fulfilled at revised quantities. Mircom will communicate its choice to Customer in the Order Acknowledgement, which election shall be binding upon the Customer.</p>
                <p></p>
                <p>4.5. Lead Time. Customer shall request a delivery date for Products in the Purchase Order. Irrespective of the requested delivery date, Mircom will confirm an estimated the delivery date in the Order Acknowledgement. Customer agrees and acknowledges that such delivery date is only an estimate, and Mircom shall not be held responsible or liable as a result of a failure to comply with the estimated lead times or the approximate delivery date. Customer further agrees and acknowledges that the date identified by Mircom in the Order Acknowledgement shall be the approximate delivery date and supercede the date requested in the Purchase Order.</p>
                <p></p>
                <p>4.6. Maximum Lead Time. Mircom will not accept orders if Customer requests a delivery date that goes beyond six (6) months after the date of the respective Purchase Order, unless addressed in a separate agreement in writing and signed by an authorized officer or representative of Mircom.</p>
                <p></p>
                <p>4.7. Modifications/Cancellations, Deadline. Orders may not be cancelled, modified or deferred by Customer unless the request is made in writing signed by an authorized representative of Customer and received by Mircom no later than forty-five (45) days prior to the scheduled shipment, and in any event subject to the discretionary written confirmation by Mircom. In the event that Order Acknowledgement identifies a shipment date sooner than forty-five (45) days from the date of the Order Acknowledgment, such order may only be cancelled, modified or deferred by Customer within the same business day of the Order Acknowledgement date only.</p>
                <p></p>
                <p>4.8. Modifications/Cancellations, Costs. In the event of modifications, deferrals or cancellations of orders, Customer shall be responsible for repayment to Mircom of charges attributable thereto including without limitation the costs incurred by Mircom for developing any work in progress, storage, price revisions, restocking fee of thirty (30) percent, third party charges and overhead as may be determined by Mircom in its sole discretion.</p>
                <p></p>
                <p>4.9. Deferred Shipments. In the case of deferred shipments, Mircom reserves the additional right to invoice Customer (a) interest at the lesser of two (2) percent per month or the highest rate permitted in Customer’s jurisdiction on all amounts payable by Customer to Mircom per the Order Acknowledgements for the deferred shipment, calculated from the time Mircom is prepared to ship the Products until actual shipment thereof and/or (b) storage fees for onsite or offsite storage of the Products.</p>
                <p></p>
                <p>4.10. Delivery Date. Unless otherwise agreed to in writing by Mircom, Mircom will deliver the Products to Customer on or about the approximate delivery date set out in the Order Acknowledgement, and Mircom reserves the right to do so without further notification or communication. In the event that Customer notifies Mircom that it is not ready to accept delivery, Mircom may, at its sole discretion elect to pursue any remedies available to it hereunder or otherwise in law or equity, including without limitation any one or combination of the following: (a) complete the delivery despite the Customer’s notice of non-readiness to accept delivery; (b) consider the order cancelled without a refund; (c) re-allocate the Products to other open orders for other customers; (d) update the prices charged for the Products; and/or (e) require advanced payment for any orders placed by the Customer in the future.</p>
                <p dir="auto" style="font-size: 11.0pt; margin: 0in; text-align: justify;" align="justify">&nbsp;</p>
                <p style="margin: 0cm; text-align: justify;">4.11. &nbsp;Two Year Price Increase.&nbsp; Customer shall accept shipment of all of the products and services outlined in an Order Acknowledgement or approved quote within two (2) years of the date thereof.&nbsp; In the event that shipment of all products and services is not accepted within this timeframe, irrespective of the reason, Mircom will increase the Prices outlined in the Order Acknowledgement&nbsp; or approved quote for such outstanding portions of the products and services identified therein, by five percent (5%).&nbsp; Thereafter, for each passing one (1) year, such Prices will increase for additional five percent (5%) per year.&nbsp; Customer shall pay the increased Prices in advance of shipment in such instance.&nbsp; This increase is not a penalty, but a pre-estimate of the costs incurred by Mircom due to the delay in shipments, which Customer agrees and acknowledges is fair and reasonable.</p>
            </div>
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Close</button>
            </div>
        </div>
    </div>
</div>
