<div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4 grid grid-cols-2 gap-4">
    <section class="grid grid-cols-2 gap-4">
        <div class="bg-gray-200 p-4">
            <h1>Image 1</h1>
        </div>
        <div class="bg-gray-200 p-4">
            <h1>Image 2</h1>
        </div>
        <div class="bg-gray-200 p-4 col-span-2">
            <h1>Product info</h1>
        </div>
    </section>
    <div class="bg-gray-200 p-4">
        <h1>Product name and pricing</h1>
    </div>
</div>